mongodbUsername: dbuser
mongodbPassword: {{ requiredEnv "MONGO_DB_PASS" }}
mongodbDatabase: users
mongodbRootPassword: {{ requiredEnv "MONGO_DB_ROOT_PASS" }}
persistence:
    enabled: true
image:
    tag: 4.2.4-debian-10-r0
